#results{
    width: 500px;
    height: 395px;
    margin: 0 auto;
    padding-top: 350px;
    max-height: 220px;
    position: relative;
}

#etf_pillar_div{
    width: 200px;
    height: 395px;
    margin: 0 auto;
    max-height: 220px;
    position: absolute;
	margin-left:0px;
	margin-bottom:0px;
}

#traditional_pillar_div{
    width: 200px;
    height: 395px;
    margin: 0px 260px;
    max-height: 220px;
    position: absolute;
	margin-right:0px;
	margin-bottom:0px;
}

#result_etf_value {
    background-image: linear-gradient( to top, #5aabd6, #90c9e8 );
    border: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    left: 50px;
    min-height: 5px;
	
	border-radius: 5px 5px 0px 0px;
}
#result_traditional_value {
    background: rgb(127, 127, 127);
    border: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    left: 50px;
    min-height: 5px;
	
	border-radius: 5px 5px 0px 0px;
}

#etf_value{
    width: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: -45px;
    left: 60px;
    min-height: 5px;
}

#traditional_value{
    width: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: -45px;
    left: 325px;
    min-height: 5px;
}

#main{
	width:500px;
	height:150px;
	margin:0 auto;
	padding-top:95px;
	position:relative;
	text-align:center;
}

html{
	background:url('../img/bg.jpg') #1f2129;
	position:relative;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#ccc;
}

section{
	display: block;
}

p{
	text-align:center;
}
/*----------------------------	jQuery UI Example -----------------------------*/

#slider{
	margin-bottom:20px;
}